*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.rar
*.tar.gz
*.classpath
*.project
*.sublime-workspace
*.launch
*Thumbs.db
*.ipr
*.iml
*.iws
*.swp
*.swo
.env
.flattened-pom.xml
.factorypath
*.orig
*.rej

**/connect.lock

**/bin/
**/.vscode/
**/target/
**/.settings/
**/dist/
**/tmp/
**/out-tsc/
**/node_modules/
**/.idea/
**/.c9/
**/.DS_Store/
**/.sass-cache/
**/.mtj.tmp/
**/.apt_generated/
**/.apt_generated_tests/

**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/release.properties
**/nb-configuration.xml
# Plugin directory
**/.quarkus/cli/plugins/